<% if @current_user.picture.present? %>
	<%= image_tag(@current_user.picture_url, :width => 100, :class => "img-rounded") %>
<% else %>
	<%= image_tag("default.png", :width => 100, :class => "img-rounded") %>

<% end %>
</p>

<p>
	totaal xp: <%= current_user.xp %>
</p>