<p>

	<b>Question:</b>
	<%=h @question.word %>
</p>

<%= link_to_unless(@next.nil?, 'Volgende', :controller => "questions", :action => "answer",:id=>@next ) %>
<% if @next.nil? %>
	<b> het level is voltooid <b>
	<%= link_to "terug naar levels", :controller => "levels", :action => "startlevel" %>
<% end %>
