
<style>
blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 500px;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
border:0px; 
}

blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
border:0px; 
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}
</style>


<div class = "container">


	
	
	

<H3>Over dit project</H3>

<p>De laatste paar minuten van de les mochten de leerlingen iets voor zichzelf doen. En vooruit, 

omdat dit het laatste uur voor de pauze was, deze keer ook met apparaten. Voor de leerlingen 

vormde die mededeling het sein om elkaars highscores in een mobiele game te vergelijken. Eén 

jongen kende het spel nog niet, maar mocht het wel even uitproberen op de telefoon van een 

klasgenote. De jongen deed het verrassend goed. Toen de pauzebel ging, verliet niemand het 

lokaal. In plaats daarvan bleven de leerlingen in een kring om de jongen heen staan en moedigden 

hem aan. </p>


 </p>Voor de educatieve master aan de Universiteit van Leiden moet een vakdidactisch 

ontwerponderzoek uitgevoerd worden. Deze website vormt (een deel van) de opbrengst van 

zo’n onderzoek. Bij dit onderzoek is uitgegaan van drie principes: school is helaas niet altijd even 

spannend, de woordenschat van sommige leerlingen mag wat uitgebreid worden en het spelen van 

een spel is vrijwel altijd leuk. </p>

<p>Dit spel is tot stand gekomen dankzij literatuuronderzoek over woordenschat en serious gaming, 

interviews met docenten en gamedesigners en principes afgeleid uit door 4-vwo’ers ontworpen 

woordenschatgames. Het doel is om te onderzoeken of het aanbieden en oefenen van woorden 

met behulp van een game woordenschatuitbreiding leuker kan maken</p>

<blockquote>
  <p>‘Work and play are words used to describe the same thing under differing conditions.'</p>
  <footer>Mark Twain</footer>
</blockquote>

<H3>Over de makers</H3>


<p>Marcella Veldthuis en Shannon Fuit zijn zes jaar klasgenoten geweest op de middelbare school, 

waar ze destijds vooral een liefde voor de pauzes en tussenuren deelden. Na het behalen van het 

vwo-diploma verloren ze elkaar uit het oog, maar in dit project hebben ze elkaar weer gevonden. 

 Marcella Veldthuis (MA Nederlandse taal en cultuur) is auteur en journalist. Op dit moment 

volgt ze de educatieve master aan de Universiteit van Leiden. Zij kwam met het eerste idee om 

een woordenschatspel te ontwerpen. Shannon Fuit (MSc Neuropsychologie) is nu bezig met een 

bachelor Informatica. Toen zij de eerste ideeën over het woordenschatspel hoorde, was ze direct 

enthousiast. Zij heeft de website gebouwd.</p>

 <p>Beide dames zijn oud genoeg om zich te herinneren dat de eerste computerspelletjes die ze 

speelden op floppydiscs stonden en tweekleurig waren: oranje tekens op een zwarte achtergrond. 

Ze zijn echter ook jong genoeg om zich hun eigen middelbareschoolperiode goed te herinneren en 

te weten dat ze zelf graag lesstof hadden geleerd met een game. Deze website is het resultaat van 

hun poging om woordenschatverwerving leuker te maken.</p>
 <%= image_tag("aboutus.jpg", :height => 220, :class => "img-rounded", :align => "right") %></br>
 <blockquote>
  <p>‘Het zijn games die ons iets te doen geven als we niets te doen hebben. We betitelen ze daarom als 

“tijdverdrijf” en beschouwen ze als onbeduidende opvullertjes voor de leemtes in onze levens. Maar ze zijn 

veel belangrijker dan dat. Ze zijn aanwijzingen voor de toekomst. En ernst maken met hun ontginning is 

misschien wel onze enige redding.’</p>
  <footer>Bernard Suits</footer>
</blockquote></div>