<div class = "container">
<strong> Belangrijk voor je begint:</strong>

<p>Dit spel is een testversie. Dat betekent dat je:</br>

- Soms een beetje geduld moet hebben. De pagina heeft af en toe wat tijd nodig om te laden!</br>

- Het beste kan spelen op een computer. Het spel doet het ook als mobiele website, maar de hele 

vormgeving ligt dan overhoop.</br>

- Bij het spelen niet terug moet gaan naar de vorige pagina. Dan raakt de website in de war en raak jij 

je punten kwijt. En dat zou toch jammer zijn?</br>

- De knop ‘Taal Telt’ brengt je naar de inlogpagina. Maar als je rechtsboven klikt op ‘Profiel’ kan je 

altijd weer op je profielpagina komen.</br></p>

<strong>Speelpagina:</strong>

</p>Op de speelpagina zie je drie kaders.</br>

Links zie je je avatar (zie ook het kopje ‘Profielpagina’) en je aantal XP. Er staat een teruglopende 

klok, die geeft aan hoeveel tijd je nog hebt om de vraag te beantwoorden. Als je een woord hebt 

gespeeld, staat boven de klok of je het woord goed of fout beantwoord had.</br>

In het midden zie je het speelscherm. Er verschijnt een woord met vier mogelijke betekenissen. De 

bedoeling is dat je de juiste betekenis aanklikt. Soms is de pagina aan het laden en moet je dus een 

beetje geduld hebben!</br>

Rechts zie je een hintscherm. Per woord kan je één hint gebruiken. Met het gebruik van een hint krijg 

je niet 100, maar 50 XP voor de vraag. Er zijn drie soorten hints:</br>

1. Woord: hierbij krijg je een woord dat met het gevraagde woord te maken heeft.</br>

2. Zin: hierbij krijg je een zin waarin het gevraagde woord gebruikt wordt.</br>

3. Afbeelding: hierbij krijg je een plaatje dat te maken heeft met de betekenis van het gevraagde 

woord.</br> </p>

<strong>Profielpagina:</strong>

<p>Op de profielpagina zie je verschillende kaders</br>
Linksboven is je persoonlijke kader. Hier staan gegevens als je naam en het aantal behaalde XP/

sterren/trofeeën. Hier kan je ook een avatar uploaden. (Een goede gratis website hiervoor is 

faceyourmanga.com. Linksboven kan je via ‘Create!’ een avatar maken die op je lijkt.) Met ‘Bladeren’ 

selecteer je een afbeelding, met ‘Save Avatar’ sla je je afbeelding op.</br>

Rechtsboven zie je een overzicht met levels. Door te klikken op de titel kom je op de Speelpagina. Elk 

level kan je op elk moment spelen. Je krijgt dan alle mogelijke punten. Sterren kan je echter alleen 

halen in de speelperiode. Als je 60-80% van de woorden goed doet, krijg je één ster. Bij 80-99% krijg 

je twee sterren. Vanaf 99% krijg je drie sterren. Natuurlijk kan je elk level zo vaak spelen als je wilt.</br>

Rechtsonder zie je je behaalde trofeeën. Uit de omschrijving wordt wel duidelijk waar je de trofee 

voor verdient. Er is ook een trofee voor het behalen van alle andere trofeeën.</br>

Linksonder zie je twee leaderboards: een individuele en een voor je klas. Het principe is simpel: 

degene met de meeste punten staat bovenaan. Lukt het je niet om bovenin het leaderboard te 

komen? Geen zorgen, want alle punten die jij haalt tellen ook mee voor het klassentotaal.</p>

<em>Veel plezier met spelen!</em>
</div>