@import "../../../vendor/assets/stylesheets/bootstrap/bootstrap.scss";

$bgDefault      : #005666;
$bgHighlight    : #3c9dff;
$colDefault     : #ecf0f1;
$colHighlight   : #FED373;
.navbar-default {
	background-color: $bgDefault;
	border-color: $bgHighlight;
	.navbar-brand {
		color: $colDefault;
		&:hover, &:focus { 
			color: $colHighlight; }}
	.navbar-text {
		color: $colDefault; }
	.navbar-nav {
		> li {
			> a {
				color: $colDefault;
				&:hover,  &:focus {
					color: $colHighlight; }}}
		> .active {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }}
		> .open {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }}}
	.navbar-toggle {
		border-color: $bgHighlight;
		&:hover, &:focus {
			background-color: $bgHighlight; }
		.icon-bar {
			background-color: $colDefault; }}
	.navbar-collapse,
	.navbar-form {
		border-color: $colDefault; }
	.navbar-link {
		color: $colDefault;
		&:hover {
			color: $colHighlight; }}}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu {
		> li > a {
			color: $colDefault;
			&:hover, &:focus {
				color: $colHighlight; }}
		> .active {
			> a, > a:hover, > a:focus, {
				color: $colHighlight;
				background-color: $bgHighlight; }}}
}

.question {
	> p {
		font-size:15px;
		padding: 15px;
		}
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.not-opaque {
    background: white;
  }

.main {
    padding: 75px 15px;
  }
  
  .fullwidth
  {
      width: 100%;
  }
  
  .align-right
  {
      text-align: right;   
  }

  .top{height: 310px;}

  .panel-info h4 {
    color: #005666;
  }

  .showlinks a:visited {
    color: #005666;
  }
  .showlinks a {
    text-decoration:underline;
  }
  .showlinks a:hover {
    color: #fd1800;
    background: white;
  }
   .panel-info strong {
    color: #009a2d;
    font-size: 20px;
 }

   .questionlink {
    text-decoration: none;
    border:none;}

  .questionlink:hover
{ 
background-color: #EDF7FF;
text-decoration: none;
color:black;
}

    
//Count it Round Teller
.countitround * {
    padding:0;
    margin:0;
}

.countitround .countitround_days,
.countitround .countitround_hours,
.countitround .countitround_minutes,
.countitround .countitround_seconds {
    position: relative;
    width:110px;
    height:110px;
    float:left;
    margin:5px;
}

 
.countitround .canvas_seconds { 
    position: relative;
    z-index: 2;
}

.countitround .canvas_background {
    position: absolute;
    z-index: 1;
}


.countitround .countitround_seconds_text {
    width:188px;
    height:188px;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    line-height: 188px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:#000;
    font-weight: normal;
    font-weight: bold;
}
   
.countitround .countitround_seconds_count {
    width:188px;
    height:188px;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    line-height: 188px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:#000;
    font-weight: normal;
    font-weight: bold;
}